<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <title>Infinite Scroll</title>

<link rel="stylesheet" type"text/css" href="main.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>

<script type="text/jquery" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.2/ng-infinite-scroll.min.js"></script>
<!-- <script type="text/JavaScript" src="moment.js"></script> -->

</head>
<body ng-controller='numbersController'>

    <h1 class="header">Calendar</h1>


    <div>
       <div class="tilebox" infinite-scroll='loadMore()' infinite-scroll-distance='0'>
           <div class="tile" ng-repeat="box in numbers">
               <h3 class="dateTitle">Date: {{box.today | date}}</h3>
               <button ng-click="addNote(box)" ng-show="box.noteButton"class="button" type="submit">Add Notes</button>
               <div ng-repeat="note in box.notes" class="newnoteBox">{{note}}</div>
           <form ng-submit="submitNote(box)">
               <textarea ng-hide="box.hideNotes" ng-model="box.newNote" class="noteBox"></textarea>
               <input class="savebutton" class="notes" type="submit" value="Save"></inpit>
           </form>

           </div> 
       </div>
    </div>
   
<script type="text/javascript" src="main.js"></script>
</body>
</html>