
.tile {
	background-color: #ecf0f1;
	width: 50%;
	height: 100px;
	margin-left: 10%;
	margin-top: 35px;
	/*border-radius: 15px;*/
	border-bottom: 5px #e74c3c solid;
}


.header{
	display: block;
	background-color: #34495e;
	font-family: helvetica;
	color: white;
	text-align: center;
	padding: 25px 0px 25px 0px;
	margin: 20px -10px 0px -10px;
}

body {

	background-color: #ecf0f1;
}
.noteBox {
	float: right;
}

.dateTitle {
	margin-left: 5px;
}

.notes {
	float: right;
	height: 45px;
	width: 200px;
	margin-top: -20px;
	margin-right: 20px;
}

.button {
	margin-left: 10px;
	padding: 5px;
	border-radius: 5px;
	text-shadow: none;
}
.savebutton {

	margin-left: 10px;
	padding: 5px 22px 5px 22px;
	border-radius: 5px;
	text-shadow: none;
}

.newnoteBox {
	float: right;
	color: red;
	background-color: #ecf0f1;
	height: 70px;
	width: 20%;
	margin-right: 20px;
}









